@import "../../styles/variables.css";

.monthContainer {
  margin-top: 24px;
  max-width: 100%;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}

.monthNavigation {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.monthTitle {
  font-size: 24px;
  line-height: 30px;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowButton:disabled {
  cursor: not-allowed;
  opacity: 0;
}

.disabledArrow {
  pointer-events: none;
  opacity: 0;
}

.arrowButton:first-child {
  margin-bottom: 2px;
  left: 116px;
}

.arrowButton:last-child {
  margin-bottom: 2px;
  right: 44px;
}

.arrowButton .icon {
  margin-top: 2px;
}

.monthControl {
  color: var(--primery-color-blue, #407bff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  padding-left: 20px;
  width: 100%;
}

.spanInfo {
  margin-top: 2px;
  margin: 0 auto;
  text-align: center;
}

.daysContainer {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  row-gap: 16px;
}

.dayCell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayItem {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primery-color-white, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.dayProgress {
  color: var(--secondary-color-light-blue, #9ebbff);
  font-size: 10px;
  font-weight: 400;
  margin-top: 4px;
  padding-left: 2px;
  line-height: 16px;
}

.incomplete {
  outline: 1px solid var(--secondary-color-orange, #ff9d43);
}

.completed {
  outline: none;
  background-color: var(--primery-color-white, #ffffff);
}

@media screen and (min-width: 768px) {
  .calendarContainer {
    margin: 0;
    max-width: 100%;
  }

  .arrowButton:first-child {
    left: 534px;
  }

  .arrowButton:last-child {
    right: 70px;
  }

  .monthControl {
    width: 194px;
    margin-left: 386px;
  }

  .daysContainer {
    gap: 34px;
    row-gap: 20px;
  }

  .dayProgress {
    font-size: 13px;
    line-height: 20px;
  }

  .dayItem {
    font-size: 16px;
    line-height: 20px;
  }

  .monthTitle {
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .monthControl {
    margin-left: 274px;
  }

  .arrowButton:first-child {
    left: 390px;
    margin-bottom: 0px;
  }

  .arrowButton:last-child {
    right: 38px;
    margin-bottom: 0px;
  }

  .monthControl {
    width: 194px;
  }

  .daysContainer {
    gap: 22px;
  }

  .dayProgress {
    font-size: 12px;
    line-height: 18px;
  }
}
