.h3 {
    margin-bottom: 16px;
}
.p {
    margin-bottom: 12px;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000cc;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.modalWrap {
    position: relative;
    background: white;
    width: 280px;
    max-height: 648px;
    overflow-y: auto;
    padding: 24px 12px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.modalWrap::-webkit-scrollbar {
    display: none;
}
/* body {
    overflow: hidden; 
} */
.container::-webkit-scrollbar {
    display: none;
}
.modalWrap::-webkit-scrollbar {
    display: none;
}

.forLoder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 280px;
    height: 540px;
    padding: 24px 12px;
    border-radius: 10px;
    margin-top: 40px;
}
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    height: 24px;
}

.buttonClose {
    color: var(--primary-color-blue);
    font-size: 24px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    gap: 24px;
    opacity: 0px;
    /* padding: 24px; */
}

.addWater {
    display: flex;
    align-items: center;
    gap: 7px;
}

.circle {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    gap: 10px;
    border-radius: 50%;
    border: 1px solid #9ebbff;
    box-shadow: 0px 2px 4px 0px #407bff33;
}

.circleButton {
    color: var(--primary-color-blue);
    font-size: 20px;
}
.waterMl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 36px;
    padding: 6px 10px;
    gap: 10px;
    border-radius: 40px;
    opacity: 0px;
    background: #d7e3ff;
    color: #407bff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.input {
    width: 256px;
    height: 44px;
    padding: 12px 10px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;
    border: 1px solid #d7e3ff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #407bff;
}

.boxButton {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 76px;
    gap: 16px;
    opacity: 0px;
}

.buttonSave {
    width: 256px;
    height: 36px;
    padding: 8px 30px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background: #407bff;
    box-shadow: 0px 4px 8px 0px #407bff57;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.buttonSave:hover:not([disabled]) {
    box-shadow: 0px 4px 14px 0px #407bff8a;
}

.buttonSave:active:not([disabled]) {
    box-shadow: none;
    background: #407bff;
}

.buttonSave[disabled] {
    background-color: #c5c4c4;
    cursor: not-allowed;
    box-shadow: none;
    border: 1px solid #6070851a;
}
.infoWater {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #407bff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.item {
    position: relative;
    display: flex;
    width: 256px;
    height: 52px;
    align-items: center;
    border-radius: 10px;
    padding: 8px 24px;
    margin-bottom: 24px;
    background-color: #ecf2ff;
}
.time {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 12px;
    margin-right: 38px;
    margin-left: 12px;
}
.water {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #407bff;
}
.am {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #2f2f2f;
}
.classesContainer {
    width: 36px;
    height: 36px;
    padding: 3px 6px;
}
@media screen and (min-width: 768px) {
    .modalWrap {
        border-radius: 10px;
        padding: 32px 24px;
        width: 704px;
        height: 580px;
        gap: 24px;
    }
    .modalContent {
        width: 544px;
        height: 392px;
    }
    .input {
        width: 544px;
    }
    .boxButton {
        width: 656px;
        flex-direction: row;
        justify-content: end;
    }
    .buttonSave {
        width: 160px;
        height: 44px;
        padding: 10px 30px;
    }
    .infoWater {
        width: 74px;
    }
    .forLoder {
        width: 704px;
        height: 504px;
    }
}

@media screen and (min-width: 1440px) {
    .modalWrap {
        width: 592px;
        height: 580px;
    }
    .boxButton {
        width: 544px;
        flex-direction: row;
        justify-content: end;
    }
    .forLoder {
        width: 592px;
        height: 504px;
    }
}
