.welcomePage {
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.welcomeTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}
.welcomeText {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: var(--primary-color-black);
  width: 200px;
  margin-top: 0;
  margin-bottom: 24px;
}
.welcomeBenefitsTitle,
.whyDrinkWaterTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--primary-color-black);
  margin-bottom: 9px;
}
.welcomeSvg {
  width: 30px;
  height: 30px;
  color: var(--primary-color-blue);
}
.welcomeList {
  list-style-type: none;
  padding: 3px;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 20px;
}
.welcomeListItem {
  display: flex;
  align-items: center;
  gap: 5px;
}
.welcomeListItem:not(:last-child) {
  margin-bottom: 12px;
}
.welcomeListItem p {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-black);
  margin-top: 0;
  margin-bottom: 0;
}
.welcomeTryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  padding: 8px 30px;
  width: 280px;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primary-color-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-color-white);
  border: none;
  cursor: pointer;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.welcomeTryBtn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.34);
}
.welcomeTryBtn:active {
  box-shadow: none;
}
.waterСonsumption {
  padding-bottom: 40px;
}
