.welcomePage {
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.welcomeTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}
.welcomeText {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: var(--primary-color-black);
  max-width: 200px;
  margin-top: 0;
  margin-bottom: 24px;
}
.welcomeBenefitsTitle,
.whyDrinkWaterTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--primary-color-black);
  margin-bottom: 9px;
}
.welcomeSvg {
  width: 32px;
  height: 32px;
  color: var(--primary-color-blue);
}
.welcomeList {
  list-style-type: none;
  padding-top: 3px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 25px;
}
.welcomeListItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
.welcomeListItem:not(:last-child) {
  margin-bottom: 16px;
}
.welcomeListItem p {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-black);
  margin-top: 0;
  margin-bottom: 0;
}

.waterСonsumption {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .welcomeTitle {
    font-size: 36px;
    line-height: 1.16667;
  }
  .welcomeText {
    font-size: 26px;
    line-height: 1.23007;
    color: var(--primary-color-black);
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .welcomeList {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 25px;
  }
  .welcomeListItem {
    width: 224px;
  }
  .welcomeSvg {
    width: 40px;
    height: 40px;
  }
  .welcomeListItem:not(:last-child) {
    margin-bottom: 0px;
  }
  .waterСonsumption {
    padding-top: 16px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .waterСonsumption {
    padding-top: 56px;
    padding-left: 104px;
    width: 545px;
  }
  .welcomeTitle {
    line-height: 1.16667;
  }
  .welcomeList {
    flex-direction: column;
  }
  .welcomeListItem {
    margin-bottom: 0;
  }
  .welcomeListItem:not(:last-child) {
    margin-bottom: 0px;
  }
}
