.welcomePage {
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.welcomeTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}
.welcomeText {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: var(--primary-color-black);
  max-width: 200px;
  margin-top: 0;
  margin-bottom: 24px;
}
.welcomeBenefitsTitle,
.whyDrinkWaterTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--primary-color-black);
  margin-bottom: 9px;
}
.welcomeSvg {
  width: 30px;
  height: 30px;
  color: var(--primary-color-blue);
}
.welcomeList {
  list-style-type: none;
  padding: 3px;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 20px;
}
.welcomeListItem {
  display: flex;
  align-items: center;
  gap: 5px;
}
.welcomeListItem:not(:last-child) {
  margin-bottom: 12px;
}
.welcomeListItem p {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-black);
  margin-top: 0;
  margin-bottom: 0;
}

.waterСonsumption {
  padding-bottom: 40px;
}
