:root {
  --primary-color-white: #ffffff;
  --primary-color-black: #2f2f2f;
  --primary-color-blue: #407bff;

  --secondary-color-smoke-white: #ecf2ff;
  --secondary-color-red: #ef5050;
  --secondary-color-light-blue: #9ebbff;
  --secondary-color-orange: #ff9d43;
  --secondary-color-light-gray: #d7e3ff;
}
