@import url(../../styles/variables.css);

.formText {
 /* font-family: 'Roboto', sans-serif; */
 font-size: 26px;
 margin-bottom: 16px;
 color: var(--primary-color-black);
 text-align: left;
}

.container {
max-width: 320px;
margin: 0 auto;
padding: 0 20px;
background-image: url(../../assets/signupPageImages/background-image.jpg);
background-size: cover;
background-repeat: no-repeat;

}