@import url(../../styles/variables.css);

.formText {
 font-size: 26px;
 margin-bottom: 16px;
 color: var(--primary-color-black);
 text-align: left;
}



.container {
max-width: 320px;
height: 600px;
margin: 0 auto;
padding: 0 20px;
background: url(../../assets/signupPageImages/bottle-image-signup.svg), url(../../assets/signupPageImages/background-image-signup.jpg);
background-size: 280px, 320px;
background-repeat: no-repeat;
background-position: 20px 375px, 0px 28px;
}

.signupSection {
    padding-top: 24px;
    padding-bottom: 20px;
}
