.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);  
  
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}

.card {
  margin-bottom: 20px;
  
  position: relative;
  width: 280px;
  height: 860px;
  padding: 32px 12px;
  background-color:var(--primary-color-white);
  border-radius: 8px;
  
}
