.welcomeSection {
  margin: 0 auto;
  background-image: url("../../assets/welcomePageImages/bg_mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 320px auto;
}
@media screen and (min-width: 768px) {
  .welcomeSection {
    margin: 0 auto;
    background-image: url("../../assets/welcomePageImages/bg_tablet.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 768px auto;
  }
}

@media screen and (min-width: 1440px) {
  .welcomeSection {
    margin: 0 auto;
    background-image: url("../../assets/welcomePageImages/bg_desktop_circle.png"),
      url("../../assets/welcomePageImages/bg_desktop.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center 23px, bottom;
    background-size: 1404px auto, 1440px auto;
  }
  .welcomeSectionContent {
    display: flex;
    min-height: 715px;
    gap: 81px;
  }
}
