form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.settingTitle {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

.formSetting {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Блок стилей для photo setting */

.settingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  font-size: 14px;
  color: var(--primary-color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.closeIcon {
  stroke-width: 1px;
}

.photoSetting {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.photoText {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.uploadPhoto {
  display: flex;
  align-items: center;
  gap: 8px;
}

.photoCard {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #007bff;
  font-size: 18px;
}

.uploadPhotoText {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.uploadInput {
  display: none;
}

/* Блок стилей для gender setting */

.genderPasswordWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.genderEmailWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.genderSetting {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkGender {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.genderLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.checkGender > label > .realRadioButton {
  display: none;
}

.customRadioButton {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid var(--primary-color-blue);
  border-radius: 50%;
  display: inline-block;
  background-color: var(--primary-color-white);
  cursor: pointer;
  vertical-align: text-top;
  box-sizing: border-box;
}

.customRadioButton::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--primary-color-blue);
  border-radius: 50%;
  display: inline-block;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.realRadioButton:checked + .customRadioButton::before {
  transform: translate(-50%, -50%) scale(1);
}

.checkboxText {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/* Блок стилей для name setting */

.userNameSetting {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.userNameInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputText {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  position: absolute;
  font-size: 11px;
  top: 45px;
  left: 0;
  color: red;
}

.passwordError {
  position: absolute;
  font-size: 11px;
  top: 42px;
  left: 0;
  color: red;
}

.inputField {
  padding: 12px 10px;
  width: 250px;
  border: 1px solid var(--secondary-color-light-gray);
  border-radius: 7px;
  color: var(--primary-color-blue);
}

.inputField::placeholder {
  color: var(--secondary-color-light-blue);
}

.inputField:focus {
  outline: none;
}

/* Блок стилей для password setting */

.passwordSetting {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.passwordSettingTitle,
.userNameText {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.passwordLabel {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer {
  position: relative;
}

.eyeIcon {
  color: var(--primary-color-blue);
  position: absolute;
  cursor: pointer;
  top: 30%;
  right: 8%;
}

.passwordInputField {
  padding: 12px 10px;
  padding-right: 40px;
  width: 250px;
  border: 1px solid var(--secondary-color-light-gray);
  border-radius: 7px;
  color: var(--primary-color-blue);
}

.passwordInputField::placeholder {
  color: var(--secondary-color-light-blue);
}

.passwordInputField:focus {
  outline: none;
}

.button {
  width: 250px;
  position: relative;
  display: inline-block;
  height: 36px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color-white);

  cursor: pointer;
  transition: all 0.3s ease;

  border-radius: 10px;
  border: 1px solid var(--secondary-color-light-gray);
  outline: none;
  background: var(--primary-color-blue);
  box-shadow: 0px 4px 8px 0px #407bff57;
}

@media screen and (min-width: 768px) {
  .userNameSetting {
    width: 392px;
  }
  .inputField {
    width: 390px;
  }
  .passwordInputField {
    width: 390px;
  }
  .eyeIcon {
    top: 30%;
    right: 43%;
  }

  .button {
    width: 160px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .genderEmailWrapper {
    justify-content: space-between;
  }

  .genderPasswordWrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .eyeIcon {
    top: 30%;
    right: 3%;
  }
}

.placeholderError::placeholder {
  color: var(--secondary-color-red);
}

.inputError {
  border-color: var(--secondary-color-red);
  color: var(--secondary-color-red);
}
