.div {
  display: flex;
  align-items: center;
}

.img {
  width: 40px;
  height: 48px;
}

.text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  text-align: left;
  margin-left: 4px;
  color: var(--primery-color-blue, #407bff);
}
