.logoutForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logoutTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoutTitleText {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
}

.logoutText {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.closeButton {
  font-size: 14px;
  color: var(--primary-color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.closeIcon {
  stroke-width: 1px;
}

.cancelButton {
  position: relative;
  display: inline-block;
  height: 36px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color-white);

  cursor: pointer;
  transition: all 0.3s ease;

  border-radius: 10px;
  border: 1px solid var(--secondary-color-red);
  outline: none;
  background: var(--secondary-color-red);
  box-shadow: 0px 4px 8px 0px #407BFF57;

}

.logoutbutton {
  position: relative;
  display: inline-block;
  height: 36px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color-blue);

  cursor: pointer;
  transition: all 0.3s ease;

  border-radius: 10px;
  border: 1px solid var(--secondary-color-light-gray);
  outline: none;
  background: var(--secondary-color-light-gray);
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
