.modalDaily {
  position: fixed;
  width: 280px;
  height: auto;
  padding: 24px 12px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: auto;
  scrollbar-width: none;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  z-index: 1000;
  /* overflow: hidden; */
}

@media (min-width: 768px) {
  .modalDaily {
    width: 704px;
    height: 696px;
    padding: 32px 24px;
  }
}

@media (min-width: 1440px) {
  .modalDaily {
    margin-top: 110px;
    width: 592px;
    height: 712px;
  }
}

.modalContent {
  max-height: 80vh;
}

.title {
  display: inline;
  font-weight: 500;
  font-size: 26px;
  margin-right: 52px;
}

.clsButton {
  background-color: transparent;
  color: var(--primary-color-blue);
  margin: 0;
  padding: 0;
}

/* .formula {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
} */

.gender {
  margin-top: 24px;
  display: flex;
}

.genderSpan {
  margin-left: 2px;
  font-size: 18px;
  color: var(--primary-color-blue);
}

.description {
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid var(--secondary-color-light-gray);
  border-radius: 10px;
  padding: 10px;
  margin-top: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rate {
  font-weight: 500;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.radioGroup {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.radioBtn {
  margin-right: 24px;
}

.radioText {
  margin-left: 8px;
}

/* .wrap {
} */

.label {
  line-height: 1.5;
}

.inputNumber {
  margin-top: 8px;
  padding: 12px 10px;
  width: 254px;
  height: 44px;
  border: 1px solid var(--secondary-color-light-gray);
  border-radius: 6px;
  color: var(--primary-color-blue);
}

.wrapLitres {
  display: flex;
  align-items: center;
}

.amount {
  line-height: 1.5;
  display: block;
  width: 190px;
}

.litres {
  display: inline;
}

.litresSpan {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color-blue);
}

.resultWrap {
  margin-top: 8px;
}

.result {
  font-weight: 500;
  font-size: 18px;
}

.saveBtn {
  width: 254px;
  height: 36px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  border-radius: 10px;
}
