@media screen and (min-width: 320px) {
  .modalDaily {
    inset: 47% auto auto 50%;
    position: fixed;
    width: 280px;
    /* max-height: 85vh; */
    padding: 24px 12px;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none;
  }

  .modalContent {
    max-height: 80vh;
  }

  .title {
    display: inline;
    font-weight: 500;
    font-size: 26px;
    margin-right: 52px;
  }

  .svg {
    font-size: 19px;
  }

  .clsButton {
    background-color: transparent;
    color: var(--primary-color-blue);
    margin: 0;
    padding: 0;
  }

  .gender {
    margin-top: 24px;
    display: flex;
  }

  .radioBtn input[type="radio"] {
    accent-color: var(--primary-color-blue);
  }

  .genderSpan {
    margin-left: 2px;
    font-size: 18px;
    color: var(--primary-color-blue);
  }

  .description {
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid var(--secondary-color-light-gray);
    border-radius: 10px;
    padding: 10px;
    margin-top: 12px;
  }

  .rate {
    font-weight: 500;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  label input[type="radio"] {
    margin-right: 8px;
  }

  .radioBtn {
    margin-right: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .error {
    font-size: 14px;
    color: red;
    margin-top: 4px;
  }

  .wrap {
    height: 99px;
  }

  .wrapHours {
    height: 148px;
  }

  .label {
    line-height: 1.5;
  }

  .inputNumber {
    margin-top: 8px;
    padding: 12px 10px;
    width: 254px;
    height: 44px;
    border: 1px solid var(--secondary-color-light-gray);
    border-radius: 6px;
    color: var(--primary-color-blue);
  }

  .inputNumber:focus {
    outline: none;
  }

  input::placeholder {
    color: var(--primary-color-blue);
    opacity: 1;
  }

  .wrapLitres {
    display: flex;
    align-items: center;
  }

  .amount {
    line-height: 1.5;
    display: block;
    width: 190px;
  }

  .litres {
    display: block;
  }

  .litresSpan {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color-blue);
  }

  .resultWrap {
    margin-top: 24px;
    height: 113px;
  }

  .waterInput {
    margin-top: 8px;
    padding: 12px 10px;
    width: 254px;
    height: 44px;
    border: 1px solid var(--secondary-color-light-gray);
    border-radius: 6px;
    color: var(--primary-color-blue);
  }

  .waterInput:focus {
    outline: none;
  }

  .result {
    font-weight: 500;
    font-size: 18px;
  }

  .saveBtn {
    width: 254px;
    height: 36px;
    margin-top: 8px;
    margin-bottom: 24px;
    background-color: var(--primary-color-blue);
    color: var(--primary-color-white);
    border-radius: 10px;
  }

  .saveBtn.unactive {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media screen and (min-width: 768px) {
  .modalDaily {
    inset: 45% auto auto 50%;
    width: 704px;
    padding: 32px 24px;
  }

  .modalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .title {
    margin-right: 0;
  }

  .svg {
    font-size: 24px;
  }

  .gender {
    display: inline;
  }

  .gender:not(:nth-last-child(odd)) {
    margin-right: 24px;
  }

  .inputNumber {
    display: block;
    width: 100%;
  }

  .form {
    display: block;
    gap: 0px;
  }

  .wrap {
    margin-top: 16px;
  }

  .wrapHours {
    height: 96px;
  }

  .label {
    line-height: 125%;
  }

  .wrapLitres {
    margin-top: 0px;
  }

  .amount {
    width: auto;
    margin-right: 6px;
  }

  .resultWrap {
    margin-top: 24px;
    height: 100px;
  }

  .waterInput {
    margin-top: 16px;
    display: block;
    width: 100%;
  }

  .saveBtn {
    margin-top: 3px;
    margin-bottom: 0px;
    width: 160px;
    height: 44px;
    /* margin-left: auto; */
    float: right;
  }
}

@media screen and (min-width: 1440px) {
  .modalDaily {
    inset: 50% auto auto 50%;
    width: 592px;
  }

  .wrap {
    height: 95px;
  }

  .wrapHours {
    height: 115px;
  }

  .saveBtn {
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    /* margin-bottom: 32px; */
  }

  .saveBtn:hover {
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
  }

  .saveBtn:active {
    box-shadow: none;
  }
}
