@import url(../../styles/variables.css);

.form {
    display: flex;
    flex-direction: column;
    width: 280px;
    /* height: 304px; */
}

.input {
    margin-bottom: 16px;
    max-width: 280px;
    height: 44px;
    border: 1px solid var(--secondary-color-light-gray);
    border-radius: 6px;
    padding: 12px 10px;
    background: var(--primary-color-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color-light-blue);

}

.input-error {
    border-color: var(--secondary-color-red);
}

.button {
    width: 280px;
    height: 36px;
    border-radius: 10px;
    padding: 8px 30px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background-color: var(--primary-color-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--primary-color-white);
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.label {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color-black);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
}

.error {
    color: var(--secondary-color-red);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.navlink {
    width: 280px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    color: var(--primary-color-blue);
}