@import url(../../styles/variables.css);

.form {
    display: flex;
    flex-direction: column;
    width: 280px;
    /* height: 304px; */
}

.input {
    /* max-width: 280px; */
    width: 100%;
    height: 44px;
    border: 1px solid var(--secondary-color-light-gray);
    border-radius: 6px;
    padding: 12px 10px;
    background: var(--primary-color-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color-light-blue);
    

}


.inputContainer {
    margin-bottom: 16px;
    position: relative;
    width: 100%;
}
.eyeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eye {
    color: var(--primary-color-blue);
    cursor: pointer;
}

.input::placeholder {
    color: var(--secondary-color-light-blue);
}

.input[type="password"] {
    font-family: 'password', sans-serif;
    -webkit-text-security: disc;
}

.input-error {
    border-color: var(--secondary-color-red);

}

.button {
    width: 280px;
    height: 36px;
    border-radius: 10px;
    padding: 8px 30px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background-color: var(--primary-color-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--primary-color-white);
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.label {
    display: block;
    margin-bottom: 8px;
    color: var(--primary-color-black);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
}


.error {
    display: block;
    position: absolute;
    top: 100%;
    font-size: 14px; 
    color: var(--secondary-color-red);
}

.navlink {
    width: 280px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    color: var(--primary-color-blue);
}

/* .bottleImage {
    width: 280px;
    height: 210px;
} */