.header {
  margin-bottom: 24px;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 20px;
  }
}
