.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 24px;
}

.logo {
  width: 102px;
  height: 48px;
  gap: 4px;
  margin-bottom: 24px;
}
