@import "./styles/variables.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  color: var(--primary-color-black);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: block;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}

.modal-open {
  overflow: hidden;
}