@import "./styles/variables.css";

html,
body {
  font-family: Roboto;
  font-size: 16;
  line-height: 1.25;
  color: var(--secondary-color-red);
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
