@import url(../../styles/variables.css);
.homePage {
  width: 100%;
  /* height: 100%; */
  /* height: 1356px; */
  background-image: url(../../assets/homePageImages/bgHomeMob.png),
    url(../../assets/homePageImages/bottleHomeMob.png);
  background-size: 320px, 280px;
  background-repeat: no-repeat, no-repeat;
  background-position: center 52px, center 106px;
  padding-bottom: 40px;
  overflow: hidden;
}

/* .norma {
  margin-top: 24px;
} */

.WaterRatio {
  margin-top: 225px;
  max-width: 280px;
}

.TodayMonthWrap {
  margin-top: 40px;
  /* margin-top: 70px; */
  width: 280px;
  /* height: 836px; */
  background-color: var(--secondary-color-smoke-white);
  border-radius: 10px;
  padding: 24px 8px;
}

@media screen and (min-width: 768px) {
  .homePage {
    background-image: url(../../assets/homePageImages/bottleHomeTablet-new.png),
      url(../../assets/homePageImages/bgHomeTablet.png);
    background-size: 521px, 768px;
    background-position: center 11px, center 27px;
    background-position: center 27px, center 11px;
    padding-bottom: 44px;
  }

  .norma {
    margin-top: 20px;
  }

  .WaterRatio {
    margin-top: 326px;
    max-width: 704px;
  }

  .TodayMonthWrap {
    width: 704px;
    padding: 32px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .homePage {
    background-image: url(../../assets/homePageImages/bgHomeDesc.png),
      url(../../assets/homePageImages/bottleHomeDesc.png);
    background-size: 1415px, 682px;
    background-position: center 35px, 50px 27px;
  }

  .container {
    /* display: flex;
    justify-content: space-between; */
    position: relative;
  }

  /* .homeWrap {
  } */

  .norma {
    margin-top: 28px;
  }

  .WaterRatio {
    margin-top: 466px;
  }

  .TodayMonthWrap {
    width: 592px;
    height: 680px;
    position: absolute;
    width: 592px;
    height: 680px;
    top: -66px;
    left: 624px;
  }
}
