.modal {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 24px 13px;
  width: 80%;
  max-width: 280px;
  box-shadow: 0px 4px 4px 0px rgba(64, 123, 255, 0.3);
}

@media screen and (min-width: 321px) {
  .modal {
    width: auto;
    max-width: none;
    left: auto;
    top: auto;
    transform: none;
  }
}

.list {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.item {
  display: flex;
  gap: 6px;
  font-size: 14px;
}

.info {
  color: #407bff;
  font-size: 16px;
  font-weight: 500;
}

.date {
  color: #407bff;
}
