@import "../../styles/variables.css";
.container {
  position: relative;
  min-height: 90vh;
  margin: 0 auto;
  max-width: 320px;
  padding: 0 20px;
  background-image: url("../../assets/signinPageImages/BottleBackground.png"),
    url("../../assets/signinPageImages/BubblesBackground.png");
  background-size: 280px, 320px;
  background-repeat: no-repeat;
  background-position: 20px 417px, -1px 30px;
}

@media (min-resolution: 192dpi) {
  .container {
    background-image: url("../../assets/signinPageImages/BottleBackground2x.png"),
      url("../../assets/signinPageImages/BubblesBackground2x.png");
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    padding-top: 14px;
    max-width: 768px;

    background-image: url("../../assets/signinPageImages/BottleBackground-tablet.png"),
      url("../../assets/signinPageImages/BubblesBackground-tablet.png");
    background-size: 736px, 768px;
    background-position: 65px 0, 0 -90px;
  }

  @media (min-resolution: 192dpi) {
    .container {
      background-image: url("../../assets/signinPageImages/BottleBackground-tablet-2x.png"),
        url("../../assets/signinPageImages/BubblesBackground-tablet-2x.png");
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 18px;
    padding-top: 141px;
    max-width: 1440px;

    background-image: url("../../assets/signinPageImages/BottleDeskTop.png"),
      url("../../assets/signinPageImages/BubblesBackground-Desktop.png");
    background-size: 916px, 1404px;
    background-position: 65px 0, 17px 0;
  }

  @media (min-resolution: 192dpi) {
    .container {
      background-image: url("../../assets/signinPageImages/BottleDeskTop-2x.png"),
        url("../../assets/signinPageImages/BubblesBackground-Desktop-2x.png");
    }
  }
}
