.notFoundContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 800px;
}
.notFoundTitle,
.notFoundText {
  color: var(--primary-color-black);
}
.notFoundContent img {
  margin: 0 auto;
}
.goHomeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  padding: 8px 30px;
  width: 100%;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primary-color-blue);
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-color-white);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goHomeBtn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.34);
}
.goHomeBtn:active {
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .goHomeBtn {
    width: 336px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 30px;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .goHomeBtn {
    width: 384px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 30px;
    height: auto;
  }
}
